* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

/*Tela de cadastro e login */
.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f1e0b2;
    border-radius: 15px;
    padding: 20px;
    width: 900px;
    height: 400px;
    gap: 200px;
    margin-top: 57px;
}

.titulo {
    font-size: 30px;
    color: #edcd7a;
}

.forms h3 {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.forms button {
    width: 120px;
    height: 50px;
    margin: 0 auto;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #885630;
    color: #ece0cd;
    font-size: 18px;
}

.forms input {
    height: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 2px solid #edcd7a;
}

.forms img {
    height: 30px;
}

.input-group {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
}



.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tela missão */
.container-missao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto {
    display: flex;
    flex-direction: column;
}

.container-missao .titulo {
    font-size: 70px;
    font-weight: bold;
    color: #edcd7a;
    margin: 0;
}

.container-missao .paragrafo {
    color: white;
    width: 460px;
    font-size: 20px;
    text-align: justify;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
}

.container-missao .imagem img {
    width: auto;
    height: 40vh;
    margin-left: 80px;
}

.missao {
    border: 2px solid #f1e0b2;
    border-radius: 15px;
    width: 900px;
    margin: 0 auto;
    margin-top: 65px;
    padding: 50px;

}

/*Simulador*/

.body-background-img {
    font-family: 'Telegraf', sans-serif;
    width: auto;
    background-color: black;
    background-size: cover;
    background-image: url();
}


.container-simulador {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 690px;
    background-image: url('img/fundo-simulador.png');
    background-size: cover;
    background-position: center;

}

.conteudo {
    width: 100%;
    justify-content: space-around;

}

.card-titulo {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-bottom: 130px;
    width: 450px;
    height: 200px;
    padding: 20px;
    background-color: #885630;
    color: #ece0cd;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0px 30px 30px 0px;
}

.card-titulo p {
    font-size: 40px;
}

.card-botao {
    padding-top: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.btn-comecar {
    background-color: #edcd7a;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    color: #000000;
    font-weight: 700;
}

#container-dados {
    height: 620px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.inputs01 {
    background-image: url(img/solo.png);
    height: 100%;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.container-input {
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    height: 90%;
    flex-direction: column;
}

.titulo-div {
    margin-right: 40px;
    font-size: 23px;
    color: #ffff;
    font-weight: 700;
}

.titulo-div02 {
    margin-right: 40px;
    font-size: 23px;
    color: #000000;
    font-weight: 700;
}

.input-perguntas {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 580px;
    height: 600px;
}


.ipt-titulo {
    font-size: 27px;
    color: #edcd7a;
    font-weight: bold;
    padding-bottom: 20px;
}

.inputs02 {
    background-color: #885630;
    height: 100%;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.ipt-titulo2 {
    display: flex;
    align-items: flex-end;
    height: 60px;
    font-size: 27px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 20px;
}

.label {
    color: #ffffff;
    font-weight: 600;
    font-size: 23px;
}

.label02 {
    color: #ffffff;
    font-weight: 600;
    font-size: 23px;
}

.input {
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #ffffff;
    outline: none;
    padding: 8px 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.input02 {
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #ffffff;
    outline: none;
    padding: 8px 0;
    color: #d9d9d9;
    font-size: 20px;
}

.container-dados02 {
    background-image: url(img/solo02.png);
    display: flex;
    align-items: center;
    height: 710px;
    flex-direction: column;
}

.card-inputs {
    height: 550px;
    border-radius: 15px;
    background-color: #e9c17d;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 80%;
    margin: auto;
}

.input-perguntas02 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 460px;
    padding-left: 60px;
    justify-content: space-between;

}

.div-input {
    height: 40px;
}

.label03 {
    color: #000000;
    font-weight: 600;
    font-size: 19px;
}

.input03 {
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #000000;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.ipt-titulo3 {
    display: flex;
    align-items: flex-end;
    height: 60px;
    padding: 0%;
    font-size: 25px;
    color: #000000;
    font-weight: bold;

}

.btn-simular {
    background-color: #000000;
    border-radius: 15px;
    height: 50px;
    width: 120px;
    color: #ffffff;
    font-weight: 750;
    border: #edcd7a solid 3px;
    margin-bottom: 30px;

}


/* calculando dados da simulacao*/

.container-resposta {
    background-color: #885630;
    color: #885630;
    height: auto;
    display: flex;
    align-items: center;
}

#mensagemFinal {
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #241c08;
    gap: 20px;
    padding: 40px;
}


.card-mensagens02 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    font-weight: 300px;
    align-self: center;
    border-radius: 15px;
    width: 330px;
    height: 300px;
    align-items: center;
}

.p_mensagem {
    text-align: center;
    margin: auto;
    align-self: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

/* quem somos */

.container-nos .imagem-somos img {
    width: auto;
    height: 69vh;
    margin-left: 90px;
    border-radius: 15px;
}

.texto-nos {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    height: 60vh;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.7);
}

.texto-nos img {
    margin-left: 400px;
    width: 70px;
    height: 70px;
}

.container-nos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
}

.container-nos .titulo {
    font-size: 60px;
    font-weight: bold;
    color: #edcd7a;
    margin-left: 15px;
}

.container-nos .paragrafo {
    color: white;
    width: 460px;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}

/* Tela Home - index */

.main {
    min-height: 100vh;
}

.main .img {
    position: relative;
    background-image: url(img/mineracao_img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
    padding-top: 57px;
}


.main .img .titulo {
    color: #edcd7a;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    position: relative;
    z-index: 2;
}

.main .img .slogan {
    color: white;
    font-size: 60px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 150px;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    position: relative;
}


.main .text {
    display: flex;
    align-items: center;
    text-align: center;
    color: #ece0cd;
    font-size: 25px;
    justify-content: center;
    padding: 40px;

}

.banners {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.main .banner {
    display: flex;
    background-color: #885630;
    min-height: 50vh;

}

.main .banner .banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .banner .banner-left .titulo {
    font-size: 3rem;
    font-weight: bold;
    color: #edcd7a;
    margin-top: 20px;
    margin-left: 20px;
}

.main .banner .banner-left .text_b {
    font-size: 2rem;
    align-items: start;
    color: black;
    margin-left: 30px;
    margin-top: 10px;
}

.main .banner .banner-left .button {
    padding: 10px 20px;
    background-color: #edcd7a;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    color: #885630;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.main .banner .banner-right {
    display: flex;
    justify-content: flex-end;
    background-color: #f1e0b2;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
    width: 50%;
}

.banner .banner-right img {
    height: 300px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-right: 70px;
    margin-top: 15px;

}

.main .banner .banner-right2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1e0b2;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    width: 110%;
}

.banner .banner-right2 img {
    height: 200px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-left: -100px;
    margin-top: 15px;

}

.main .banner .banner-left2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main .banner .banner-left2 .titulo {
    font-size: 3rem;
    font-weight: bold;
    color: #edcd7a;
    margin-top: 20px;
    margin-left: 20px;
}

.main .banner .banner-left2 .text_b {
    font-size: 30px;
    color: black;
}

.main .banner .banner-left2 .button {
    padding: 10px 20px;
    background-color: #edcd7a;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    color: #885630;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
}

/* Tela Produto */
.produto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.produto .container2 {
    color: white;
    display: flex;
    border: 2px solid #f1e0b2;
    border-radius: 15px;
    padding: 20px;
    width: 900px;
    min-height: 500px;
    gap: 40px;
    margin-top: 57px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.produto .container2 .titulo {
    font-size: 60px;
    color: #edcd7a;
}

.produto .container2 .img img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.produto .container2 .texto {
    text-align: center;
    font-size: 30px;
    max-width: 450px;
}

/* Cadastro Funcionario */
.container-func {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f1e0b2;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    height: 510px;
    margin-top: 20px;
}

.forms-func h3 {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    padding: 20px;
}

.forms-func {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
}

.input-group button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #885630;
    color: #ece0cd;
    font-size: 18px;
}
.input-group {
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #edcd7a;
    box-sizing: border-box; /* garante que padding e borda não ultrapassem a largura */
}

.forms-func img {
    height: 30px;
}

.cadastro-func {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaos-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    font-size: 20px;
    color: white;
    margin-left: -100px;
}

.login-empresa {
    border: 2px solid #edcd7a;
    padding: 15px;
    border-radius: 10px;
}

.login-usuario {
    border: 2px solid #edcd7a;
    padding: 15px;
    border-radius: 10px;
}

.titulo-login {
    font-size: 30px;
    color: #edcd7a;
}

.botaos-login a {
    text-decoration: none;
    color: #efebdf;
}

#mensagem {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

/* Footer*/

.footer-content {
    background-color: #885630;
    height: 80px;
    width: auto;
    align-items: center;
    margin: auto;
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    justify-content: center;
}